@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


.my-page {
  padding: 1%;
}

.researchers-page {
  padding: 1%;
}

.user-card-wrapper {
  width: 50%;
  margin: auto;
}

.user-profile-wrapper {
  margin: auto;
  width: 50%;
}

.user-profile-filter-panel {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choice-outer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bulletin-board {
  display: flex;
  flex-direction: row;
}

.choice-wrapper {
  width: 100%;
  height: 60%;
  margin: auto;
  background: #ffffff;
  padding: 10vh;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-page {
  padding: 15%;
}

.signup-page {
  padding: 4%;
}

.auth-inner {
  width: 100vh;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.user-details-wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding: 1%;
}

.experiment-details-wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding: 1%;
}

.rating-wrapper {
  height: 60px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}

.toggler-wrapper {
  background-color: #000000;
  color: #ffffff;
}

.nav-link {
  cursor: pointer;
}

.experiment-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 1%;
}

.accepted {
  background-color: #0b5311;
  color: #ffffff;
}

.applied {
  background-color: #000000;
  color: #ffffff;
}

.rejected {
  background-color: #861717;
  color: #ffffff;
}

/* Not Done */

* {
  box-sizing: border-box;
}

.mypage_wrapper {
  display: flex;
  flex-direction: column;
}

.mypage_inner_wrapper {
  display: flex;
  flex-direction: row;
}

.custom {
  width: 35vh;
}

.long_card_wrapper {
  font-size: 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
  background: #ffffff;
  padding: 5px;
}

.long_card_list_wrapper {
  margin: auto;
  height: 60vh;
  width: 100vh;
  overflow-y: scroll;
}

.accepted {
  background: #0b6e2c;
  padding: 10px;
  color: #ffffff;
  text-align: center;
} 

.user_details_wrapper {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  width: 100vh;
  margin: auto;
}

img {
  align-self: center;
}

.details_headers {
  font-weight: 100;
  font-size: 24;
  font-family: 'Fira Sans', sans-serif;
}

.cardHeaders {
  font-weight: 100;
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
}

.main_page_wrapper {
  display: flex;
  flex-direction: row;
  width:90%
}

.details_box {
  background-color: #ffffff;
<<<<<<< HEAD
  width: 100%;
  margin-right: 15%;

=======
  width: 60vh;
  margin: 10px;
>>>>>>> cc5c9727b3408ecaa17239d5aa7575413f573332
}

.horizontal_divider {
  height: 1vh;
  background-color: #000000;
}

body {
  background: white !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.card_list_wrapper {
  margin: right;
  height: 80%;
  width:90%;
  overflow-y: scroll;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.card_wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 70vh;
  justify-content: left;
  margin: auto;
}

.in_card_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
<<<<<<< HEAD
  
=======
  margin: 5px;
>>>>>>> cc5c9727b3408ecaa17239d5aa7575413f573332
  justify-content: left;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.choice-wrapper > h1 {
  text-align: center;
}



.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}
